<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.AuctionMapper">
  <cache />

  <select id="getAuction" resultType="Auction">
    SELECT 
    	P.PRODUCT_ID as auctionId,
    	P.TITLE as "product.title",
    	P.DESCRIPTION as "product.description",
		P.SHIPPING as "product.shipping",
		P.SHIPPING_FEE as "product.shippingFee",
		P.IMAGE as "product.image",
		P.CREATED_TIME as "product.createdTime",
		P.CATEGORY_ID as "product.categoryId",
		P.PRODUCT_STATUS as "product.productStatus",
		P.ACCOUNT_ID as "product.sellerId",
		P.PRICE as "product.price",
		P.PRODUCT_TYPE as "product.productType",
		A.PRESENT_PRICE as currentPrice,
    	A.START_PRICE as startPrice,
    	A.PRESENT_PRICE_ACCOUNTID as "currentPriceBuyerId",
    	A.DEADLINE as deadLine
    FROM AUCTION A, PRODUCT P
    WHERE P.PRODUCT_ID = A.PRODUCT_ID AND A.PRODUCT_ID = #{auctionId}
  </select>
  
  <select id="getAuctionListByUser" resultType="Auction">
    SELECT
		P.PRODUCT_ID as auctionId,
    	P.TITLE as "product.title",
    	P.DESCRIPTION as "product.description",
		P.SHIPPING as "product.shipping",
		P.SHIPPING_FEE as "product.shippingFee",
		P.IMAGE as "product.image",
		P.CREATED_TIME as "product.createdTime",
		P.CATEGORY_ID as "product.categoryId",
		P.PRODUCT_STATUS as "product.productStatus",
		P.ACCOUNT_ID as "product.sellerId",
		P.PRICE as "product.price",
		P.PRODUCT_TYPE as "product.productType",
		A.PRESENT_PRICE as currentPrice,
    	A.START_PRICE as startPrice,
    	A.DEADLINE as deadLine
    FROM AUCTION A, PRODUCT P
    WHERE P.PRODUCT_ID = A.PRODUCT_ID AND P.ACCOUNT_ID = #{sellerId}
  </select>
  
  <select id="getAuctionListByCategory" resultType="Auction">
    SELECT
		P.PRODUCT_ID as auctionId,
    	P.TITLE as "product.title",
    	P.DESCRIPTION as "product.description",
		P.SHIPPING as "product.shipping",
		P.SHIPPING_FEE as "product.shippingFee",
		P.IMAGE as "product.image",
		P.CREATED_TIME as "product.createdTime",
		P.CATEGORY_ID as "product.categoryId",
		P.PRODUCT_STATUS as "product.productStatus",
		P.ACCOUNT_ID as "product.sellerId",
		P.PRICE as "product.price",
		P.PRODUCT_TYPE as "product.productType",
		A.PRESENT_PRICE as currentPrice,
    	A.START_PRICE as startPrice,
    	A.DEADLINE as deadLine
    FROM AUCTION A, PRODUCT P
    WHERE P.PRODUCT_ID = A.PRODUCT_ID AND P.CATEGORY_ID = #{categoryId}
  </select>
  
  <select id="searchAuctionList" resultType="Auction">
    SELECT
		P.PRODUCT_ID as auctionId,
    	P.TITLE as "product.title",
    	P.DESCRIPTION as "product.description",
		P.SHIPPING as "product.shipping",
		P.SHIPPING_FEE as "product.shippingFee",
		P.IMAGE as "product.image",
		P.CREATED_TIME as "product.createdTime",
		P.CATEGORY_ID as "product.categoryId",
		P.PRODUCT_STATUS as "product.productStatus",
		P.ACCOUNT_ID as "product.sellerId",
		P.PRICE as "product.price",
		P.PRODUCT_TYPE as "product.productType",
		A.PRESENT_PRICE as currentPrice,
    	A.START_PRICE as startPrice,
    	A.DEADLINE as deadLine
    FROM AUCTION A, PRODUCT P
    WHERE P.PRODUCT_ID = A.PRODUCT_ID AND lower(title) like #{keyword}
  </select>
  
  <select id="getAllAuctionList" resultType="Auction">
    SELECT
		P.PRODUCT_ID as auctionId,
    	P.TITLE as "product.title",
    	P.DESCRIPTION as "product.description",
		P.SHIPPING as "product.shipping",
		P.SHIPPING_FEE as "product.shippingFee",
		P.IMAGE as "product.image",
		P.CREATED_TIME as "product.createdTime",
		P.CATEGORY_ID as "product.categoryId",
		P.PRODUCT_STATUS as "product.productStatus",
		P.ACCOUNT_ID as "product.sellerId",
		P.PRICE as "product.price",
		P.PRODUCT_TYPE as "product.productType",
		A.PRESENT_PRICE as currentPrice,
    	A.START_PRICE as startPrice,
    	A.DEADLINE as deadLine
    FROM AUCTION A, PRODUCT P
    WHERE P.PRODUCT_ID = A.PRODUCT_ID
  </select>

  <insert id="insertAuction" parameterType="Auction">
    INSERT INTO AUCTION
      (PRESENT_PRICE, START_PRICE, DEADLINE, PRODUCT_ID, PRESENT_PRICE_ACCOUNTID)
    VALUES
      (#{currentPrice}, #{startPrice}, #{deadLine}, #{auctionId}, #{currentPriceBuyerId, jdbcType=VARCHAR})
  </insert>

  <delete id="deleteAuction" parameterType="int">
    DELETE FROM AUCTION
    WHERE PRODUCT_ID = #{auctionId}
  </delete>
  
  <update id="updateAuctionCurrentPriceAndBuyerId" parameterType="Bidding">
    UPDATE AUCTION SET
      PRESENT_PRICE = #{biddingPrice},
      PRESENT_PRICE_ACCOUNTID = #{buyerId}
    WHERE PRODUCT_ID = #{productId}
  </update>
  
</mapper>