<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.OrderMapper">

  <cache />
  
  <select id="getOrderBySeller" resultType="Order">
    SELECT
    	ORDER_DATE as orderDate,
		PRODUCT_ID as productId,
		ORDER_ID as orderId,
		ORDER_STATUS as orderStatus,
		SHIPPING_ADDRESS as shippingAddress,
		SHIPPING_ZIPCODE as shippingZipcode,
		ACCOUNT_ID as sellerId
    FROM ORDERS
    WHERE ORDER_ID = #{orderId}
  </select>
  
  <select id="getOrderByBuyer" resultType="Order">
    SELECT
    	ORDER_DATE as orderDate,
		PRODUCT_ID as productId,
		ORDER_ID as orderId,
		ORDER_STATUS as orderStatus,
		SHIPPING_ADDRESS as shippingAddress,
		SHIPPING_ZIPCODE as shippingZipcode,
		ACCOUNT_ID as buyerId
    FROM ORDERS
    WHERE ORDER_ID = #{orderId}
  </select>
  
  <insert id="insertOrder">
    INSERT INTO ORDERS (ORDER_DATE, PRODUCT_ID, ORDER_ID, ORDER_STATUS, 
    SHIPPING_ADDRESS, SHIPPING_ZIPCODE,	ACCOUNT_ID)
    VALUES (#{orderDate}, #{productId}, #{orderId}, #{orderStatus},
     #{shippingAddress}, #{shippingZipcode}, #{buyerId})
  </insert>
  
  <update id="updateOrderStatus" parameterType="Order">
    UPDATE ORDERS
    SET ORDER_STATUS = #{orderStatus}
	WHERE ACCOUNT_ID = #{sellerId} AND ORDER_ID = #{orderId}
  </update>
  
  <select id="getOrderListBySeller" resultType="Order">
    SELECT
    	ORDER_DATE as orderDate,
		PRODUCT_ID as productId,
		ORDER_ID as orderId,
		ORDER_STATUS as orderStatus,
		SHIPPING_ADDRESS as shippingAddress,
		SHIPPING_ZIPCODE as shippingZipcode
    FROM ORDERS
    WHERE ACCOUNT_ID = #{sellerId}
  </select>
  
  <select id="getOrderListByBuyer" resultType="Order">
    SELECT
    	ORDER_DATE as orderDate,
		PRODUCT_ID as productId,
		ORDER_ID as orderId,
		ORDER_STATUS as orderStatus,
		SHIPPING_ADDRESS as shippingAddress,
		SHIPPING_ZIPCODE as shippingZipcode
    FROM ORDERS
    WHERE ACCOUNT_ID = #{buyerId}
  </select>

</mapper>